.mat-container {
  display: inline-flex;
  margin-top: 15px;  
}

.card-product {
  max-width: 350px;
  height: 400px;
  margin: 0 15px 15px 0;
  padding: 10px;
  background-color: #e1e0e0;
}

.card-content {
  text-align: center;
  padding: 5px;
}

.card-content img {
  width: 120px;
  opacity: .8;
  transition: .2s;
}

.card-content img:hover {
  opacity: 1;
}

.card-description {
  text-align: left;
}